@font-face {
    font-family: 'Almarai';
    src: url('Almarai-Light.eot');
    src: url('Almarai-Light.eot?#iefix') format('embedded-opentype'),
        url('Almarai-Light.woff2') format('woff2'),
        url('Almarai-Light.woff') format('woff'),
        url('Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('Almarai-Bold.eot');
    src: url('Almarai-Bold.eot?#iefix') format('embedded-opentype'),
        url('Almarai-Bold.woff2') format('woff2'),
        url('Almarai-Bold.woff') format('woff'),
        url('Almarai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('Almarai-ExtraBold.eot');
    src: url('Almarai-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Almarai-ExtraBold.woff2') format('woff2'),
        url('Almarai-ExtraBold.woff') format('woff'),
        url('Almarai-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('Almarai-Regular.eot');
    src: url('Almarai-Regular.eot?#iefix') format('embedded-opentype'),
        url('Almarai-Regular.woff2') format('woff2'),
        url('Almarai-Regular.woff') format('woff'),
        url('Almarai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

