<section id="IllustrativeEvidence" class="pt-md-11 services-directory-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-12  ">
          <h3 class="section-title">
            <svg-icon src="/assets/images/icon/IllustrativeEvidence-icon.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
            {{servicesDirectoryData?.servicesDirectory?.title}}
          </h3>
          <div class="d-flex flex-wrap services-directory-container">
            <div class="services-directory-card" *ngFor="let servicesDirectorySection of servicesDirectoryData?.cards" >
              <div class="services-directory-icon">
                <img [src]="servicesDirectorySection.card.iconFileUrl">
              </div>
              <div class="services-directory-text">
                {{servicesDirectorySection.card.title}}
              </div>

              <div class="services-directory-action">
                <a class="btn btn-primary" href="{{servicesDirectorySection.card.url}}">
                  استعراض
                </a>
              </div>
            </div>   
          </div>
        </div>

      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>