<section id="surveyForms" class="pt-md-11 survey-forms-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-12 ">
          <!-- Image -->
          <img src="/assets/images/surveyForms.svg"
            class="surveyForms-img img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate d-block d-sm-none"
            alt="..." data-aos="fade-up" data-aos-delay="100">
          <h3 class="section-title">
            <svg-icon src="/assets/images/icon/surveyForms-icon.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
            {{surveyFormSection?.surveyForm?.title}}
          </h3>
          <div class="d-flex flex-wrap surveyForms-container">
            <div class="surveyForms-card" *ngFor="let surveyFormSection of surveyFormSection?.cards">
              <div class="surveyForms-icon">
                <img [src]="surveyFormSection.card.iconFileUrl">
              </div>
            
              <div class="surveyForms-text">
              {{
                surveyFormSection.card.title
              }}
              </div>
              <div class="surveyForms-action">
                <a class="btn btn-primary" routerLink="/s/{{surveyFormSection.card.url}}" >
                  استعراض
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>