<main class="main-section">
    <!-- <p-toast position="top-left"></p-toast> -->

    <div class="survay-card" >
        <div class="survay-card-body">
            <div class="container">
                <div class="survay-wizerd-card">
                    <div style="min-height: 200px;">
                        <div class="survay-tab survey-js__container">
                            <survey [model]='surveyModel'></survey>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</main>
